@using Project_2.Infrastructure
@model Project_2.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section class="hero-section">
    <div id="hero-section"></div>
    <div class="container hero">
        <div id="hero-profile-box">
            <img id="hero-profile-picture" src="~/images/profile.png" alt="TODO">
        </div>
        <div id="about-me">
            <p>ABOUT ME:</p>
            <p>
                <span><br>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT. ASPERIORES DEBITIS DOLOREM FUGIT NEMO NON PRAESENTIUM RERUM SAPIENTE TEMPORE VEL VOLUPTATE! A, AUTEM DELENITI EOS EUM ISTE NUMQUAM PERSPICIATIS PORRO REPUDIANDAE!</span>
                <span><br>AD ALIQUAM ASPERIORES CONSECTETUR CULPA DIGNISSIMOS DOLOREMQUE, DOLORES DOLORUM ELIGENDI EST ET EX FUGA IN IPSUM MOLESTIAS NISI NOBIS OBCAECATI ODIT OFFICIIS PARIATUR QUASI QUOS RECUSANDAE SEQUI, SIMILIQUE TEMPORIBUS VERITATIS.</span>
            </p>
            <p>
                <br><span>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT. </span>
            </p>
            <p>
                <br><span>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT. </span>
            </p>
            <span id="about-me-buttons">
                @* TODO for absolute positioning*@
                <a href="@Parameters.MyResume"><button class="button-cta">CV</button></a>
                <a href="@Parameters.GitHub"><img class="social-icon" src="~/images/icons/github.svg" alt="github"></a>
                <a href="@Parameters.LinkedIn"><img class="social-icon" src="~/images/icons/linkedin.svg" alt="linkedin"></a>
            </span>
        </div>
    </div>
</section>

<section class="skills-section">
    <h2 style="font-size: 102px; font-weight: bold; text-decoration: underline">MY SKILLS</h2>
    <div class="skills-container">
        @for (int i = 0; i < 2; i++)
        {
            @foreach (var skill in @Model.ListOfSkills)
            {
                <span class="skill-span">
                    <span class="skill-details">
                        <span class="skill-header">@skill.SkillName</span>
                        <span class="skill-subheader">@skill.Description</span>
                    </span>
                    @Html.Raw(skill.IconUrl)
                </span>
            }
        }
    </div>
</section>

<div class="main-carousel project-section" data-flickity='{ "wrapAround":true }'>
    @foreach (var project in @Model.GithubProjectModels)
    {
        <partial name="_GithubProjectBox" model="project"/>
    }
</div>

<section class="references-section">
    <div class="references">
        @foreach (var reference in Parameters.ReferenceQuotes)
        {
            <div class="reference-box">
                <img class="reference-profile-picture" src="~/images/wilgross.jpg" alt="wilgross">
                @Html.Raw(reference)
                @* <i class="quote">@reference</i> TODO check if this is overcomplicated or not*@
            </div>
        }
    </div>
</section>

<section id="contact-me" class="contact-me-section">
    <form method="post" class="contact-form" asp-controller="Home" asp-action="Submit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="WeatherModel">
        <span class="form-row">
            <span class="form-input">
                <label asp-for="ContactMeModel.Fullname">YOUR NAME</label>
                <input asp-for="ContactMeModel.Fullname" type="text" placeholder="ENTER YOUR NAME">
                <span asp-validation-for="ContactMeModel.Fullname" class="text-danger"></span>
            </span>
        </span>
        
        <span class="form-row">
            <span class="form-input">
                <label asp-for="ContactMeModel.Message">YOUR MESSAGE</label>
                <textarea id="contact-me-textarea" asp-for="ContactMeModel.Message"></textarea>
                <span asp-validation-for="ContactMeModel.Message" class="text-danger"></span>
            </span>
        </span>
        <button style="margin-bottom: 36px" type="submit" class="button-cta">SUBMIT</button>
    </form>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/index.js"></script>
}