@using Project_2.Infrastructure
@model Project_2.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section class="hero-section">
    <div id="hero-section"></div>
    <div class="container hero">
        <div id="hero-profile-box">
            <img id="hero-profile-picture" src="~/images/profile.png" alt="TODO">
        </div>
        <div id="about-me">
            <p>About me:</p>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis dolorem fugit nemo non praesentium rerum sapiente tempore vel voluptate! A, autem deleniti eos eum iste numquam perspiciatis porro repudiandae!</span><span>Ad aliquam asperiores consectetur culpa dignissimos doloremque, dolores dolorum eligendi est et ex fuga in ipsum molestias nisi nobis obcaecati odit officiis pariatur quasi quos recusandae sequi, similique temporibus veritatis.</span>
            </p>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
            </p>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
            </p>
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
            </p>
            <span>
                <a href="@Parameters.GitHub"><img class="social-icon" src="~/images/icons/github.svg" alt="github"></a>
                <a href="@Parameters.LinkedIn"><img class="social-icon" src="~/images/icons/linkedin.svg" alt="linkedin"></a>
            </span>
        </div>
    </div>
</section>

<section class="skills-section">
    <div class="skills-container">
        @foreach (var skill in @Model.ListOfSkills)
        {
            <span class="skill-span">
                <span class="skill-details">
                    <span class="skill-header">
                        @skill.SkillName
                    </span>
                    <span class="skill-subheader">
                        @skill.Description
                    </span>
                </span>
                @Html.Raw(@skill.IconUrl)
            </span>
        }
    </div>
</section>

<div class="main-carousel project-section" data-flickity='{ "wrapAround":true }'>
    @foreach (var project in @Model.GithubProjectModels)
    {
        <partial name="_GithubProjectBox" model="project"/>
    }
</div>

<section class="references-section">
    <div class="references">
        <div class="reference-box">
            <img class="reference-profile-picture" src="~/images/wilgross.jpg" alt="wilgross">
            <i class="quote">&quotIt was a joy to do Console.WriteLine with you&quot - William Gross</i>
        </div>

        <div class="reference-box">
            <img class="reference-profile-picture" src="~/images/wilgross.jpg" alt="wilgross">
            <i class="quote">&quotI introduce the bugs, he squashes them.&quot - William Gross</i>
        </div>
    </div>
</section>

<section id="contact-me" class="contact-me-section">
    <form method="post" class="contact-form" asp-controller="Home" asp-action="Submit">
        <div asp-validation-summary="ModelOnly"></div>
        
        <span class="form-row">
            <span class="form-input">
                <label asp-for="ContactMeModel.Fullname">Your name</label>
                <input asp-for="ContactMeModel.Fullname" type="text" placeholder="Enter your name">
                <span asp-validation-for="ContactMeModel.Fullname" class="text-danger"></span>
            </span>
        </span>
        
        <span class="form-row">
            <span class="form-input">
                <label asp-for="ContactMeModel.Message">Your message</label>
                <textarea id="contact-me-textarea" asp-for="ContactMeModel.Message"></textarea>
                <span asp-validation-for="ContactMeModel.Message" class="text-danger"></span>
            </span>
        </span>
        <button type="submit" class="button-cta">SUBMIT</button>
    </form>
</section>

<p>Weather @Model.WeatherModel.Info</p>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/index.js"></script>
}