@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Project_2.Infrastructure
@model Project_2.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<section class="hero-section">
    <div id="hero-section"></div>
    <div class="container hero">
        <div id="hero-profile-box">
            <img id="hero-profile-picture" src="~/images/profile.png" alt="TODO">
            <h2 class="hero-profile-box-title">POORLY DRAWN PICTURE OF ME</h2>
            <span class="hero-profile-box-subtitle"><h3 class="hero-box-subtitle">
                BUT YOU CAN ALWAYS VIEW my resume
                <a href="@Parameters.MyResume"><button class="button-cta">HERE</button></a>
            </h3></span>
        </div>
        <div id="about-me">
            <p class="header">kimmo ahola:</p>
            <p id="about-me-info">
            <p><span class="underline">born:</span> <span class="normal-text">1991 to finnish parents</span></p>
            <p><span class="underline">speaks:</span> <span class="normal-text">swedish, english and broken finnish</span></p>
            <p><span class="underline">favorite food:</span> <span class="normal-text">anything spicy</span></p>
            <p><span class="underline">nerd:</span> <span class="normal-text">yes</span></p>
            <p style="margin-bottom: 3rem"><span class="underline">Also:</span> <span class="normal-text">proud uncle</span></p>
            <p class="underline like">LIKES:</p>
            <span style="margin-bottom: 3rem">
                <span class="normal-text">
                    <p style="max-width: 80%">DOGS, coding in C#, cold weather, early mornings and coding in python (sometimes)</p>
                </span>
            </span>
            <p class="underline dislike">DISLIKES:</p>
            <span>
                <span>
                    <span class="normal-text">
                        <p style="max-width: 80%">cats, java, pollen, slow internet, hot weather and coding in python (other times)</p>
                    </span>
                </span>
            </span>
            <span id="about-me-buttons">
                <a href="@Parameters.GitHub"><img class="social-icon" src="~/images/icons/github.svg" alt="github"></a>
                <a href="@Parameters.LinkedIn"><img class="social-icon" src="~/images/icons/linkedin.svg" alt="linkedin"></a>
            </span>
        </div>
    </div>
</section>

<section class="skills-section">
    <h2 class="skills-header">MY SKILLS</h2>
    <div class="skills-container">
        @foreach (var skill in @Model.ListOfSkills)
        {
            <span class="skill-span">
                <span class="skill-details">
                    <span class="skill-header normal-text">@skill.SkillName</span>
                    @* <span class="skill-subheader">@skill.Description</span> *@
                </span>
                @Html.Raw(skill.IconUrl)
            </span>
        }
    </div>
</section>

<div class="main-carousel project-section" data-flickity='{ "wrapAround":true }'>
    @foreach (var project in @Model.GithubProjectModels)
    {
        <partial name="_GithubProjectBox" model="project"/>
    }
</div>

<section class="references-section">
    <h2 class="references-header">TESTIMONIALS</h2>
    <div class="references">
        @foreach (var reference in Parameters.ReferenceQuotes)
        {
            <div class="reference-box">
                <img class="reference-profile-picture" src="~/images/wilgross.jpg" alt="wilgross">
                @Html.Raw(reference)
            </div>
        }
    </div>
</section>

<section id="contact-me" class="contact-me-section">
    <form method="post" class="contact-form" asp-controller="Home" asp-action="Submit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="WeatherModel">
        <span class="form-row">
            <span class="form-input">
                <label asp-for="ContactMeModel.Fullname">YOUR NAME</label>
                <input asp-for="ContactMeModel.Fullname" type="text" placeholder="ENTER YOUR NAME">
                <span asp-validation-for="ContactMeModel.Fullname" class="text-danger"></span>
            </span>
        </span>
        
        <span class="form-row">
            <span class="form-input">
                <label asp-for="ContactMeModel.Message">YOUR MESSAGE</label>
                <textarea id="contact-me-textarea" asp-for="ContactMeModel.Message"></textarea>
                <span asp-validation-for="ContactMeModel.Message" class="text-danger"></span>
            </span>
        </span>
        <button id="submit-button" type="submit" class="button-cta">SUBMIT</button>
    </form>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/index.js"></script>
}