@using Project_2.Infrastructure
@model Project_2.Models.ViewModels.GithubProjects.GithubProjectModel

<div class="github-project-box">
    @* TODO replace this image with azure blob storage link *@
    <div class="github-project-content">
        <span style="font-size: 3rem; font-weight: bold" class="github-project-title">@Model.Title.ToUpper()</span>
        <span class="github-project-subtitle">@Model.Description</span>
        <img class="github-project-image" src="@Model.ImageUrl" alt="project image">
        <span class="project-info">
            @*TODO add later <span>@Model.Description</span> *@
        </span>
        <span class="project-skills">
            <div style="display: flex; gap: 12px">
                @foreach (var skill in Model.Skills.Where(skill => Parameters.Icons.ContainsKey(skill.ToUpper())))
                {
                    <div class="skill">
                        @Html.Raw(Parameters.Icons[skill.ToUpper()])
                    </div>
                }
            </div>
            <span class="project-links">
                <a href="@Model.ProjectUrl"><img class="social-icon" src="images/icons/github.svg" alt=""></a>
                <a href="@Model.LiveDemoUrl"><img class="social-icon" src="images/icons/open-in-new-tab.svg" alt=""></a>
            </span>
        </span>
    </div>
    </div>
